
@{
    ViewBag.Title = "Guardar Cambios";
}

<h2>Guardar Cambios</h2>
<div class="container">
    Desea Guardar los cambios?
    <form method="post" action="/home/save" class="text-right">
        <button  type="submit" class="btn btn-primary navbar-inverse">Guardar</button>
    </form>
</div>



